
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.test{
    color: whitesmoke !important;
}
.contenedor{
    // min-height: 100%;
    
    
}
.img-profile {
    width: 30px;
    height: 30px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100% ;
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    overflow: hidden;
}
.boton{
    background: linear-gradient(to right, #581845, #900C3F);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 25px;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}



#modal-prestamos{
    background: linear-gradient(to right, #581845 , #900C3F );
    color: #fff;
}
#admin{
    visibility: visible;
}